body {
    font-family: 'Roboto', 'Raleway', sans-serif;
    font-size: 16px;
    color: #212121;
    background-color: #FFFFFF;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}
.container {
    width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;

    /* padding-inline: 15px ;
    margin-inline: auto; */

}
.page-header{
    /* display: flex; */
    padding-block: 24px;
    align-items: center;
    justify-content: space-between;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1158px;
    padding-inline: 15px;
    margin-inline: auto;
}
.header-navigation{
    display: flex;
    gap: 76px;

}
.contacts{
    margin-left: auto;
}
.contacts ul{
    display: flex;
    gap: 40px;
}
.page-nav{
    display: flex;
    gap: 40px;
}
.page-nav .link {
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.page-nav .link:hover {
    color: #404BBF;
}
.page-nav .link:active {
    color: #404BBF;
}

.contacts .contact-link {
    color: #434455;
}
.contacts .contact-link:hover{
    color: #404BBF;
}
.page-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 188px 0;
    
}
.section-title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #FFFFFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px; 
    margin-bottom: 48px;
    margin-left: auto;
    margin-right: auto;
    
}
.page-title, 
.page-footer {
    background-color: #2E2F42;
}
.page-title .page-title-button{
    color: #FFFFFF;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    /* height: 56px;  */
    border: none;
    

}
.page-title .page-title-button:hover {
    background-color: #404BBF;

}

.page-header .logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2E2F42;
    margin-right: 76px;
}
.page-header .logo-accent{
    color: #4D5AE5;
}
.visually-hiden {
    visibility: hidden;
}
.features-list{
    display: flex;
    gap: 24px;
    padding-inline: 0;
    width: calc((100%-24px*3)/4);
    margin: 84px 0 120px;


}
.team{
    margin-top: 76px;
}
.title-team{
    margin: 0 auto;
    text-align: center;

}
.team-list{
    display: flex;
    gap: 24px;
    width: calc((100%-24px*2)/3);
    margin-top: 120px;
    margin-bottom: 120px;
}
.team-item{
      
}
.team-content{
 padding: 32px 16px; 
}
.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    margin-top: 120px ;
    margin-bottom: 120px;
}
.portfolio .portfolio-title{
    text-align: center;
}
.page-footer p {
    color: #FFFFFF;
}
.team-hero, .team-description{
    text-align: center;
}
.page-footer .logo-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
}
.page-footer .logo-accent-footer{
    color: #4D5AE5;
}
.page-footer{
    display: flex;
    align-items: center;
    height: 312px;
}
.footer-content{
max-width: 264px;
max-height: 112px;
}